.parallax{
  width: 100%;
  height: 600px;
  background-image: url(../img/A-124-scaled.jpg);
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation_header{
  z-index: 9999;
}


.topo p {
  z-index: 2;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-size: 44px;
  position: absolute;
  margin-top: -140px;
  margin-left: 80px;
}

main {
  margin-top: 20px;
}

.accordion-button {
  background-color: #2d2d2d;
  color: #0D6EFD;
}