.navbar-collapse {
  justify-content: space-around;
  flex-grow: 0;
  
}

.navbar {
  background-color: #BECEBE;
}

.nav-item {
  background-color: #536E6D;
  margin-right: 40px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;

}

.navbar-nav .nav-link.active {
  color: white;
}
.bg-body-tertiary {
  background-color: #6E8382;
}