@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.p-1 {
  color: #485568;
  text-align: center;
  font-size: 30px;
}

 .ver {
  font-family: 'Roboto';
  font-style: italic;
  text-decoration: underline;
  color: #485568;
}

.p-a {
  color: #485568;
  margin: 0px;
  text-align: center;
}

.texto_modal {
  text-align: justify;
  text-indent: 30px;
  color: #485568;
}

.imagem_pontos {
  width: 140px;
  text-align: center;
}

.bi-arrow-right-circle {
  margin-left: 10px;
}

.btn-div {
  text-align: center;
}

.img-div {
  text-align: center;
}

.texto {
  font-size: 15px;
} 

.col-md-4 {
  margin-top: 40px;
}

.link_p {
  color: blue;
  text-decoration: underline;
}

@media screen and (max-width: 401px){
  .btn2 {
    height: 70px;
  }
}
