
/* Estilização do carrosel */

.carousel-indicators .active {
  background-color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  padding: 15px;
  border-radius: 8px;
}


/* Estilizando a seção de conhecer mais */
.text-main {
  margin-top: 150px;
  text-align: center;
}

.text-main p {
  font-size: 24px;
  text-align: justify;
  color: #485568;
  margin: 0px;
}

.text-main h1 {
  margin-top: 81px;
  font-size: 40px;
  font-weight: 700;
  color: #222835;
}

.btn2 {
  margin-bottom: 50px;
  padding: 15px;
  background-color: #1A1E28;
  color: #F6F7F9;
  border-radius: 4px;
  transition: 0.5s;
  width: 178px;
  height: 57px;
  margin-top: 23px;
}

.btn2:hover {
  background-color: #F6F7F9;
  color: #222835;
  transition: 0.5s;
}
/* Estilização dos cards principais */


.ab{
  padding: 0px;
}

img {
  border-radius: 5px;
}

.ab2 {
  padding-left: 8px;
}

.ab4 {
  padding-top: 18px;
}

.linha2 {
  padding-top: 18px;
}

.ab5, .ab6, .ab7 {
  padding-left: 8px;
}

.cards {
  height: 800px;
  width: 800px;
  text-align: center;
}


/* Responsividade dos cards */
@media (max-width: 600px){
  .cards {
    width: 50vh;
  }
  .text-main {
    padding: 30px;
  }
  .imgs {
    padding-top: 20px;
  }

  .linha2 {
    padding: 0px;
  }
}

@media (max-width: 600px){
  .navigation_header a {
    text-align: center;
    gap: 1em;
    margin-top: -10px;
  }
  .cards {
    display: none;
  }


}

@media (max-width: 400px){
  .cards {
    width: 40vh;
  
  }

  .btn2 {
    width: 120px;
  }
}

h3 {
  text-align: center;
  margin-top: 140px;
}


/* Estilização dos Card Grid */
.xindex1 {
  position: absolute;
  z-index: 10;
  margin-top: -268px;
  margin-left: 92px;
  font-size: 40px;
}

.xindex2 {
  position: absolute;
  margin-top: -191px;
  margin-left: 73px;
  width: 100px;
  font-size: 30px;

}

.xindex3 {
  position: absolute;
  margin-top: -191px;
  margin-left: 43px;
  font-size: 30px;
  width: 160px;
}

.xindex4 {
  position: absolute;
  margin-top: -168px;
  margin-left: 53px;
  font-size: 30px;
  width: 140px;
}

.xindex5 {
  position: absolute;
  margin-top: -168px;
  margin-left: 53px;
  font-size: 30px;
  width: 140px;
}

.xindex6 {
  position: absolute;
  margin-top: -155px;
  margin-left: 53px;
  font-size: 30px;
  width: 140px;
}

.cards {
  display: relative;
}

@media (max-width: 767px){
  .xindex1 {
    position: absolute;
    z-index: 10;
    margin-top: -200px;
    margin-left: 13px;
    font-size: 40px;
  }
  
  .xindex2 {
    position: absolute;
    margin-top: -130px;
    margin-left: 25px;
    width: 100px;
    font-size: 30px;
  
  }
  
  .xindex3 {
    position: absolute;
    margin-top: -130px;
    margin-left: 2px;
    font-size: 30px;
    width: 160px;
  }
  
  .xindex4 {
    position: absolute;
    margin-top: -130px;
    margin-left: 10px;
    font-size: 30px;
    width: 140px;
  }
  
  .xindex5 {
    position: absolute;
    margin-top: -130px;
    margin-left: 15px;
    font-size: 30px;
    width: 140px;
  }
  
  .xindex6 {
    position: absolute;
    margin-top: -110px;
    margin-left: 15px;
    font-size: 30px;
    width: 140px;
  }
}

.xindex1, .xindex2, .xindex3, .xindex4, .xindex5, .xindex6 {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.pontos {
  text-decoration: none;
  color: white;
}

.pontos_turisticos {
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: 700;
  color: #222835;
  font-size: 40px;
  margin-top: 102px;
}

.serv_text {
  text-align: center;
  margin-bottom: 40px;
  color: #222835;
  font-size: 40px;
  font-weight: 700;
  margin-top: 200px;
}



.serv_row .col  {
  background-color: white;
  height: 160px;
}

.col {
  margin-top: 40px;
  height: 160px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
}

.col {
  box-shadow: 5px 5px 15px #6E6E8C;
}

.col img {
  width: 120px;
}

.col p {
  color: #332F2E;
}



.serv_section {
  display: grid;
  text-align: center;
  margin-top: 240px;
  text-align: center;
}

.col-sm-4 img {
  box-shadow: 5px 5px 15px #6E6E8C ;
}

.col-sm-8 img {
  box-shadow: 5px 5px 15px #6E6E8C ;
}

a {
  color: white;
  text-decoration: none;
}

/* Seção Eventos */

.eventos h2 {
  font-size: 40px;
  color: #1A1E28;
  font-family: 'Roboto';
  font-weight: 700px;
  text-align: center;
}

.eventos {
  margin-top: 426px;
}

.event_container {
  border: 3px solid #313D5A;
}

.event_row {
  padding: 30px;
  display: flex;
  align-items: center;
}

.col-sm-6 {
  padding: 0px;
}

.eventos p {
  text-align: justify;
  color: #485568;
  font-size: 36px;
  font-weight: 700;
  width: 410px;
  margin-left: 84px;
}

.btn_event {
 margin-left: 172px;
}
/* Rodapé */
.info_rodape {
  color: #A1A7AE;
  margin-left: 10px;
  margin-top: -15px;
}

.rodape{
  text-align: center;
  background-color: #1A1E28;
  width: 100%;
  height: 200px;
  margin-top: 400px;
}

footer {
  margin-top: 240px;
}

.rodape p{
  margin: 0px;
  font-weight: 500;
  color: white;
  padding: 5px;
}

.rodape_row a{
  color: #A1A7AE;
}

.direitos {
  margin: 5px;
}

.rodape_row p{
  color: #A1A7AE;
  font-size: 24px;
  font-weight: 700px;
  margin-left: -10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rigth {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.alinha {
  display: flex;
  flex-direction: column;
  align-items: start;
}

span {
  width: 5px;
  height: 5px;
  background-color: #A1A7AE;
  margin-top: 15px;
}

.eventos {
  display: flex;
}

.event_row {
  display: flex;
}

@media (max-width: 768px){
  /* Responsividade do rodapé */
  .rodape {
    height: 480px;
  }

  .rodape_row {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .rodape_row .col-sm-4 {
    padding: 10px;
  }
  /* Responsividade da seção de eventos */
  .eventos p {
    margin: 0px;
    width: 300px;
  }

  .event_container {
    display: flex;
    flex-direction: column;
  }

  .text_event {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
   }

   .text_img{
    margin-top: 120px;
  }

  .btn_event {
    margin: 0px;
  }

}
/* Responsividade da seção de eventos */
@media (max-width: 336px){
  .eventos p {
    margin: 0px;
    width: 200px;
  }
}

@media (max-width: 238px){
  .eventos p {
    margin: 0px;
    width: 100px;
    font-size: 1em;
  }
}

@media (max-width: 1200px){
  .event_row {
    display: flex;
    flex-direction: column;
  }
}
