/* Estilizações gerais */
body {
  margin: 0px;
  color: #332F2E;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0px;
}

a {
  transition: .5s;
  text-decoration: none;
}

#brasao {
  width: 60px;
}

.links {
  color: black;
}

/* Estilização da navbar */
.navbar2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #94AE93;
  text-align: center;
}

.list-inline {
  margin: 0px;
}

.menu {
  text-align: center;
}

.list-inline-item {
  display: inline-block;
  background-color: #F6F8F5;
  border-radius: 20px;
  margin-left: 40px;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Estilização do carrosel */

.carousel-indicators .active {
  background-color: #94AE93;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  padding: 15px;
  border-radius: 8px;
}


/* Estilizando a seção de conhecer mais */
.text-main {
  margin-top: 50px;
  text-align: center;
}

.text-main p {
  font-size: 24px;
  text-indent: 50px;
  text-align: justify;
}

.text-main h1 {
  font-weight: 700;
}

.btn {
  margin-bottom: 50px;
  padding: 15px;
}
