/* Estilizações gerais */
body {
  margin: 0px;
  color: #332F2E;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0px;
}

a {
  transition: .5s;
  text-decoration: none;
}

.links {
  color: black;
}

/* Estilização do carrosel */

.carousel-indicators .active {
  background-color: #94AE93;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  padding: 15px;
  border-radius: 8px;
}


/* Estilizando a seção de conhecer mais */
.text-main {
  margin-top: 50px;
  text-align: center;
}

.text-main p {
  font-size: 24px;
  text-indent: 50px;
  text-align: justify;
}

.text-main h1 {
  font-weight: 700;
}

.btn {
  margin-bottom: 50px;
  padding: 15px;
}
/* Estilização dos cards principais */
.btn2 {
  margin-top: 24px;
}

.ab{
  padding: 0px;
}

img {
  border-radius: 5px;
}

.ab2 {
  padding-left: 8px;
}

.ab4 {
  padding-top: 18px;
}

.linha2 {
  padding-top: 18px;
}

.ab5, .ab6, .ab7 {
  padding-left: 8px;
}

.cards {
  height: 800px;
  width: 800px;
  text-align: center;
}

/* Responsividade dos cards */
@media (max-width: 600px){
  .cards {
    width: 500px;
    height: 500px;
  }
}

/* Responsividade do rodapé */
@media (max-width: 560px) {
  .rodape2 {
    margin-top: 2600px;
  }
}

h3 {
  text-align: center;
  margin-top: 140px;
}
.rodape{
  text-align: center;
  background-color: #3A5B5A;
  margin-top: 120px;
}
.rodape p{
  margin: 0px;
  font-weight: 500;
  color: white;
  padding: 8px;
}